files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/30_install_pop_api.sh":
    mode: "000755"
    owner: root
    group: root
    content: |      
      # Source the environment variables
      source /opt/elasticbeanstalk/support/envvars
      # For some reason, PATH doesn't include /usr/local/bin, where wp is installed. So add it
      PATH=$PATH:/usr/local/bin

      cd /var/app/current
      
      # Configure WordPress through environment constants: add these to wp-config.php
      echo "Updating wp-config.php through WP-CLI"
      wp config set DB_NAME $DB_NAME --allow-root
      wp config set DB_USER $DB_USER --allow-root
      wp config set DB_PASSWORD $DB_PASSWORD --allow-root
      wp config set DB_HOST $DB_HOST --allow-root
      # SALT keys
      if [ -n "$SHUFFLE_SALT_KEYS" ]
      then
        # Shuffle them
        wp config shuffle-salts
      else
        # Set them through environment variables
        wp config set AUTH_KEY $AUTH_KEY --allow-root
        wp config set SECURE_AUTH_KEY $SECURE_AUTH_KEY --allow-root
        wp config set LOGGED_IN_KEY $LOGGED_IN_KEY --allow-root
        wp config set NONCE_KEY $NONCE_KEY --allow-root
        wp config set AUTH_SALT $AUTH_SALT --allow-root
        wp config set SECURE_AUTH_SALT $SECURE_AUTH_SALT --allow-root
        wp config set LOGGED_IN_SALT $LOGGED_IN_SALT --allow-root
        wp config set NONCE_SALT $NONCE_SALT --allow-root
      fi

      # Check if WordPress is installed. If not, install it
      echo "Checking if WordPress is installed: "
      if ! $(wp core is-installed --allow-root); then

          echo "WordPress is not installed yet. Installing WordPress through WP-CLI..."
          
          wp core install --url=$SITE_URL_WITHOUT_HTTP --title="$SITE_NAME" --admin_user=$ADMIN_USER --admin_password=$ADMIN_PASSWORD --admin_email=$ADMIN_EMAIL --allow-root
          wp option update home $SITE_URL_WITH_HTTP --allow-root
          wp option update siteurl $SITE_URL_WITH_HTTP/wp --allow-root
          wp rewrite structure '/%category%/%postname%/' --allow-root

          if ! $(wp core is-installed --allow-root); then
              echo "Installation unsuccessful. Please check the error messages displayed in the console to solve the issue, and then try again."
              exit 1;
          fi

          echo "Installation successful! Please check that the following URLs work fine:"
          echo "WordPress site: $SITE_URL_WITH_HTTP"
          echo "WordPress admin: $SITE_URL_WITH_HTTP/wp/wp-admin/"
      else
          echo "WordPress is already installed!"
      fi
