files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/20_install_wp_cli.sh":
    mode: "000755"
    owner: root
    group: root
    content: |      
      echo "Installing WP CLI"
      curl https://raw.githubusercontent.com/wp-cli/builds/gh-pages/phar/wp-cli.phar -o /usr/local/bin/wp
      chmod +x /usr/local/bin/wp
      
      