files:
  "/opt/elasticbeanstalk/hooks/appdeploy/post/10_prepare_wp.sh":
    mode: "000755"
    owner: root
    group: root
    content: |
      echo "Checking if to create folder wp-content"
      cd /var/app/current
      if [[ ! -d "wp-content" ]]; then
        echo "Creating folder wp-content with right permissions"
        mkdir wp-content
        sudo chmod 0755 wp-content
      else
        echo "folder wp-content already exists"
      fi



